*.pyc
tests/*.pyc
*.p
old-examples
examples/extra-fits.*
examples/*.p
doc/source/_build/
MANIFEST
examples/*.tmp
build/
dist/
installed-files
corrfitter.todo
corrfitter.tmproj
files-*.python*
todo
*.sublime-*
xxx*
yyy*
zzz*
xyz*
zyx*
tmp/
old/
doc/latex
git-instructions


